<div class="cards">
  <div class="card">
    <div class="card-logo-left blue-bg">
      <img src="../../assets/plus-square.svg" alt="Plus Square">
    </div>
    <div class="card-title">New Control requests received</div>
    <div class="card-value">41</div>
    <div class="card-logo-right">
      <img src="../../assets/dropdown.svg" alt="Options">
    </div>
  </div>
  <div class="card">
    <div class="card-logo-left dark-grey-bg">
      <img src="../../assets/clock-rewind.svg" alt="Clock Rewind">
    </div>
    <div class="card-title">Under review</div>
    <div class="card-value">12</div>
    <div class="card-logo-right">
      <img src="../../assets/dropdown.svg" alt="Options">
    </div>
  </div>
  <div class="card">
    <div class="card-logo-left mustard-bg">
      <img src="../../assets/x-square.svg" alt="X Square">
    </div>
    <div class="card-title">Rejected</div>
    <div class="card-value">3</div>
    <div class="card-logo-right">
      <img src="../../assets/dropdown.svg" alt="Options">
    </div>
  </div>
</div>
