<div>
  <app-header></app-header>
  <div *ngIf="currentTab === 'overview'">
    <app-user></app-user>
    <app-cards></app-cards>
  </div>
  <div class="main-content">
    <div class="tab-container">
      <button (click)="onTabSelected('overview')" [class.active]="currentTab === 'overview'">Overview</button>
      <button (click)="onTabSelected('control-board')" [class.active]="currentTab === 'control-board'">Control board</button>
    </div>

    <div *ngIf="currentTab === 'overview'">
      <app-overview></app-overview>
    </div>

    <div *ngIf="currentTab === 'control-board'">
      <app-control-board></app-control-board>
    </div>
  </div>
</div>
